<h2>Details of <%= @animal.name() %></h2>

<img src="<%= @animal.picture_url() %>" style="width:200px;"><br>

<p>Name: <%= @animal.name() %></p>
<p>Age: <%= @animal.age() %></p>
<p>Species: <%= @animal.species() %></p>
<p>Breed: <%= @animal.breed() %></p>
<p>Description: <%= @animal.description() %></p>
<p>Adoptable: <%= @animal.adoptable() %></p>
<p>Admission date: <%= @animal.admission_date() %></p>
<% if @owner != nil %>
  <p>Adoption date: <%= @animal.adoption_date() %></p>
  <p>Owner: <a href="/owners/<%= @owner.id() %>"><%= @owner.name() %></a></p>
<% end %>
