<h2>Owners</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for owner in @owners do %>
    <tr>
      <td><%= owner.name() %></td>
      <td><a href="/owners/<%= owner.id() %>">Details</a></td>  
      <td><a href="/owners/<%= owner.id() %>/edit">Edit</a></td>
      <td><a href="owners/<%= owner.id() %>/adopt">Adopt</a></td>
      <td><a href="owners/<%= owner.id() %>/unadopt">Unadopt</a></td>
      <td><a href="owners/<%= owner.id() %>/delete">Delete</a></td>
      <td><a href="owners/<%= owner.id() %>/match">Match [ using OKCatpid<sup>(TM)</sup> ]!</a></td>
    </tr>
  <% end %>
</table>