<h2>Matches for <%= @owner.name() %> using OKCatpid<sup>(TM)</sup></h2>

<% for result in @results %>
  <img src="<%= result[0].picture_url() %>" style="width:100px;">
  <p><a href="/animals/<%= result[0].id() %>"><%= result[0].name() %></a> the <%= result[0].species() %> : <b><%=result[1].round(1)%></b> % match</p>
  <hr>
<% end %>