<h2><%= @owner.name() %></h2>

<% if @pets_owned.count() > 0 %>

  <h3>Pets Owned</h3> 
  <table cellspacing="20">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Species</th>
      <th>Breed</th>
      <th></th>
    </tr>
  <% for animal in @pets_owned %>
    <tr>
      <td><a href="/animals/<%= animal.id() %>"><%= animal.name() %></a></td>
      <td><%= animal.age() %></td>
      <td><%= animal.species() %></td>
      <td><%= animal.breed() %></td>
      <td><form action="/owners/<%= @owner.id() %>/unadopt" method="post"><button name="animal_id" value="<%= animal.id() %>">Unadopt</button></form></td>
    </tr>
  <% end %>
  </table>

<% else %>

  <h3>No Pets Owned</h3>

<% end %>

<h3> Questions and Answers... </h3>
<p>
<% for answer in @answers do %>
  <b><%= answer.get_question().text() %></b><br>
  <b> My answer:- </b> <%= answer.own_answer() %> &nbsp;&nbsp;&nbsp; <b> Desired answer:- </b> <%= answer.desired_answer() %> &nbsp;&nbsp;&nbsp; <b>Importance:- </b> <%= answer.importance() %><br>
  <hr>
<% end %>
</p>